extends base.pug
include mixins/video
block content
    each video in videos
        +video(video)
    else
        li Sorry nothing found.
        //- div
        //-     h4=sein.title
        //-     ul
        //-         li #{sein.rating}/5
        //-         li #{sein.comments}comments
        //-         li Posted #{createdAt}.
        //-         li #{sein.views}views.