extends base.pug

block content
    if errorMessage 
        span= errorMessage

    form(method="POST")
        input(name="name", type="text", required:true,placeholder="이름")
        input(name="email", type="email", required:true,placeholder="이메일")
        input(name="username", type="text", required:true,placeholder="유저이름")
        input(name="password", type="password", required:true,placeholder="비밀번호")
        input(name="password2", type="password", required:true,placeholder="비밀번호 확인")
        input(name="location", type="text", required:true,placeholder="주소")
        input(type="submit", value="Join")

    hr
    div
        span Already have an account?
        a(href="/login") Log in now &rarr;
